html {
  background: #ffadd3;
}
body {
  text-align: center;
}
h1 {
  color: #ff8ac0;
  border: dotted white;
  text-decoration: underline;
  font-size: 70px;
}
ul {
  list-style-type: none;
}
img {
  height: 30%;
  width: 25%;
  border: 10px solid #00008B;
}
h2 {
  color:#ff8ac0;
  border: dashed #75093b;
  text-decoration: underline;
}
